<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>

	<appSettings>
		<!-- Database Connection String -->
		<add key="DatabaseConnectionString" value="Server=localhost;Database=master;Integrated Security=true;Connection Timeout=5;" /> 
		<!-- Alert Thresholds (can be customized) -->
		<add key="CpuThreshold" value="90" />
		<add key="MemoryThreshold" value="10" />
		<add key="DiskSpaceThreshold" value="15" />
		<add key="DiskSpaceGBThreshold" value="5" />
		<add key="Error5xxThreshold" value="2" />
		<add key="ResponseTimeThreshold" value="2000" />
	</appSettings>
</configuration>